.div-container {
	display: none;
  /*z-index: 0; */
  /*have to use the Z index!!!!*/
  /*left: -100000px;*/
}

.div-container.active {
	display: block;
  /*z-index: 100;*/
  /*left: 0px;*/
}


html.w-mod-js *[data-ix="next-btn-load"] {
	/*-webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;*/
	-webkit-transition: opacity 800ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: opacity 800ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);	
}

html.w-mod-js *[data-ix="next-btn-load"].animate {
	opacity: 1;
	transform: translateX(0px) translateY(0px) translateZ(0px);
}

.arrow-left.disappear, .arrow-right.disappear {
	display: none;
}
.arrow-right-last.appear {
	display: block;
}

.move-button {
	cursor: pointer;
}

.slide-outcome {
	opacity: 0;
	display: block;
    position: absolute;
	transition: opacity 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slide-outcome.active {
	opacity: 1;
} 

/*Animations*/

html.w-mod-js *[data-ix="hide-score"] {
	-webkit-transition: transform 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

html.w-mod-js *[data-ix='hide-score'].popup {
	transform: translateX(0px) translateY(0px) translateZ(0px);
    transform-style: preserve-3d;	
	
}

html.w-mod-js *[data-ix="dimmer-dimmer"] {
    transition: opacity 800ms ease-in-out;
}

html.w-mod-js *[data-ix="dimmer-dimmer"].dim {
	opacity: 0;
}

html.w-mod-js *[data-ix="load-scene1"] {
	transition: opacity 200ms, transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html.w-mod-js *[data-ix="load-scene1"].popup {
	opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
}

html.w-mod-js *[data-ix="illustration-hider"] {
	transition: opacity 500ms ease-in-out, transform 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html.w-mod-js *[data-ix="illustration-hider"].popup {
	opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transform-style: preserve-3d;
    	
}



