{% include first.html id="first" next1="introduction" %}
{% include introduction.html id="introduction" next1="scenario1" %}
{% include scenario1.html id="scenario1" next1="decision1" %}
{% include decision1.html id="decision1" next1="outcome1a" next2="outcome1b" %}
{% include outcome1a.html id="outcome1a" next1="scenario2" %}
{% include outcome1b.html id="outcome1b" next1="scenario2" %}
{% include scenario2.html id="scenario2" next1="decision2" %}
{% include decision2.html id="decision2" next1="outcome2a" next2="outcome2b" next3="outcome2c" %}
{% include outcome2a.html id="outcome2a" next1="scenario3" %}
{% include outcome2b.html id="outcome2b" next1="scenario3" %}
{% include outcome2c.html id="outcome2c" next1="scenario3" %}
{% include scenario3.html id="scenario3" next1="decision3" %}
{% include decision3.html id="decision3" next1="outcome3a" next2="outcome3b" %}
{% include outcome3a.html id="outcome3a" next1="conclusion" %}
{% include outcome3b.html id="outcome3b" next1="conclusion" %}
{% include conclusion.html id="conclusion"%}
