  <div id="{{ include.id }}" class="div-container">

  <a href="index.html" class="div-logo-global w-inline-block"><img src="images/title.svg"></a>

    <div class="div-dimmer" data-ix="dimmer"></div>
    <div class="div-title">
      <div class="div-screen-title">
        <h2>A Growing Family</h2>
        <h1>What’s the right move?</h1>
      </div>
    </div>
    <div class="div-scenario">
      <div class="div-slide-area">
        <a next="{{ include.next1 }}" class="div-decision-button w-inline-block move-button" data-ix="choice-1-appear">
          <div class="div-btn-decision-label">
            <div class="block-btn-decision-label">Move</div>
          </div>
        </a>
        <a next="{{ include.next2 }}" class="div-decision-button w-inline-block move-button" data-ix="choice-2-appear">
          <div class="div-btn-decision-label">
            <div class="block-btn-decision-label">Stay</div>
          </div>
        </a>
      </div>
    </div>
    <div class="div-score-bottom">
      <div class="div-meter-block w-clearfix">
        <div class="div-meter-row">
          <div class="t-meter-label">Health</div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
        </div>
        <div class="div-meter-row">
          <div class="t-meter-label">Education</div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
        </div>
        <div class="div-meter-row">
          <div class="t-meter-label">Financial</div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
        </div>
      </div>
    </div>
    <div class="div-scenario-background"><img src="images/building-blue.svg" class="img-building-left"><img src="images/building-blue.svg" class="img-building-right-front"><img src="images/building-blue.svg" class="img-bulding-right-back"></div>
    <div class="div-global-background css-gradient">
      <div class="div-splitter"></div>
    </div>
  </div>
