<div id="{{ include.id }}" class="div-container">

  <a href="index.html" class="div-logo-global w-inline-block"><img src="images/title.svg"></a>

    <div class="div-title">
      <div class="div-screen-title">
        <h2 class="heading">Your Choice</h2>
        <h1>Move</h1>
      </div>
    </div>
    <div class="div-scenario">
      <div class="div-slide-area">
        <div data-animation="outin" data-easing="ease-in-quad" data-hide-arrows="1" data-autoplay-limit="1" data-duration="500" data-infinite="1" class="slider-outcomes w-slider">
          <div class="w-slider-mask">
            <div class="slide-outcome w-slide" data-ix="score-drop-{{ include.id }}">
              <p data-w-id="fdbdffcd-4ab8-2745-161d-dbbef5e94ba6" class="p-scenario">After a year, your older child develops asthma triggered by excessive moisture from the leaks. Recurring hospital visits lead to them <span class="text-education">missing several days of school.</span></p>
              <div class="div-animation-trigger" data-ix="ani-2up-scene-appear-{{ include.id }}"></div>
            </div>
            <div class="slide-outcome w-slide" data-ix="voucher-off-extra-{{ include.id }}">
              <p class="p-scenario">At the baby’s check-up, <span class="span-health">the pediatrician finds elevated lead levels in their blood</span> and starts asking about hazards in the home.</p>
              <div class="div-animation-trigger" data-ix="ani-2up-hide-{{ include.id }}"></div>
            </div>
            <div class="slide-outcome w-slide" data-ix="voucher-on-extra-{{ include.id }}">
              <p class="p-scenario voucher-text" data-ix="remove-score-{{ include.id }}">Your options for balancing work and a new baby would be different. You would have talked to the housing authority about your growing family, and they could raise your rental price point (without raising your portion of the rent).</p>
              <div class="div-animation-trigger"></div>
            </div>
            <div class="slide-outcome w-slide">
              <p class="p-scenario voucher-text">This would have given you a wider selection of homes if you wanted to move, but securing a decent home that takes vouchers in your desired neighborhood can still be challenging.</p>
            </div>
            <div class="slide-outcome w-slide">
              <p class="p-scenario voucher-text">You would also have been better able to accommodate the new baby if you had decided to stay in your current home. The voucher’s safety net could have let you quit your job or switch to part time as you focused on finding a better job with a shorter commute.</p>
            </div>
            <div class="slide-outcome w-slide" data-ix="voucher-off-extra-{{ include.id }}">
              <p class="p-scenario"><span class="span-question" data-ix="next-scene-trigger-{{ include.id }}">

                <a next="{{ include.next1 }}" class="move-button a-inline">Let’s move on to the next decision for your family</a>

              </span></p>
              <div class="div-null" data-ix="preview-score-{{ include.id }}"></div>
              <div class="div-animation-trigger" data-ix="ans02-hide-fam-{{ include.id }}"></div>
            </div>
          </div>
          <div class="arrow-left w-slider-arrow-left"><a href="#" class="slider-next-btn left w-inline-block"></a>
            <div class="slider-icon w-icon-slider-left"></div>
          </div>
          <div class="arrow-right w-slider-arrow-right">
            <div class="slider-icon w-icon-slider-right"></div><a href="#" class="slider-next-btn w-inline-block" data-ix="next-btn-load"></a></div>

          <a next="{{ include.next1 }}" class="move-button arrow-right-last t-{{ include.id }} w-inline-block">
            <div class="slider-next-btn"></div>
          </a>


          <div class="slide-nav w-slider-nav"></div>
        </div>
      </div>
    </div>
    <div class="div-score-bottom t-{{ include.id }}">
      <div class="div-meter-block w-clearfix">
        <div class="div-meter-row">
          <div class="t-meter-label">Health</div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite t-{{include.id}}"></div>
        </div>
        <div class="div-meter-row">
          <div class="t-meter-label">Education</div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite t-{{include.id}}"></div>
        </div>
        <div class="div-meter-row">
          <div class="t-meter-label">Financial</div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
        </div>
      </div>
    </div>
    <div class="div-voucher-area">
      <div class="div-voucher-panel t-{{ include.id }}">
        <div class="div-voucher-panel-front">
          <div class="div-voucher-title"><img src="images/title_1.svg" alt="But what if your family had a housing voucher?" class="img-voucher-title"></div><img src="images/hanger-long.svg" class="img-hanger"><img src="images/hanger-long.svg" class="img-hanger right-hanger"></div>
      </div>
    </div>
    <div class="div-scenario-background"><img src="images/building-blue.svg" class="img-building-left"><img src="images/building-blue.svg" class="img-building-right-front"><img src="images/building-blue.svg" class="img-bulding-right-back"></div>
    <div class="div-voucher-background t-{{ include.id }}"></div>
    <div class="div-characters"><img src="images/ill-outcome1-choices.png" srcset="images/ill-outcome1-choices-p-500.png 500w, images/ill-outcome1-choices-p-800.png 800w, images/ill-outcome1-choices-p-1080.png 1080w, images/ill-outcome1-choices-p-1600.png 1600w, images/ill-outcome1-choices.png 1791w" sizes="(max-width: 2107px) 85vw, 1791px" class="img-s0-2-choices"><img src="images/ill-s1-2-doctor.png" srcset="images/ill-s1-2-doctor-p-500.png 500w, images/ill-s1-2-doctor.png 934w" sizes="25vw" class="img-2up-left t-{{ include.id }}" data-ix="illustration-hider"><img src="images/ill-s1-2-mother.png" class="img-2up-right t-{{ include.id }} mother" data-ix="illustration-hider"></div>
    <div class="div-global-background css-gradient">
      <div class="div-splitter"></div>
    </div>
  </div>