<div  id="{{ include.id }}" class="div-container">

  <a href="index.html" class="div-logo-global w-inline-block"><img src="images/title.svg"></a>

    <!-- <div class="div-dimmer intro" data-ix="dimmer-dimmer-{{ include.id }}"></div> -->
    <div class="div-dimmer intro" data-ix="dimmer-dimmer"></div>
    <div class="div-title">
      <div class="div-screen-title">
        <h2>Choice 1</h2>
        <h1>A growing family</h1>
      </div>
    </div>
    <div class="div-scenario">
      <div class="div-slide-area">
        <div data-animation="outin" data-easing="ease-in-quad" data-hide-arrows="1" data-autoplay-limit="1" data-duration="500" data-infinite="1" class="slider-outcomes w-slider">
          <div class="w-slider-mask">
            <div class="slide-outcome w-slide" >
              <p data-w-id="fdbdffcd-4ab8-2745-161d-dbbef5e94ba6" class="p-scenario">You work full-time for low wages, live far from work and extended family, and have a baby on the way. The commute was tough when you had your first child, and you’d rather not do it again.</p>
              
              <div class="div-animation-trigger" data-ix="ani-2up-scene-appear-{{ include.id }}"></div>
            </div>
            <div class="slide-outcome w-slide" data-ix="car-appear-{{ include.id }}">
              <p class="p-scenario">Your current lease is about to end, and you have to decide whether to renew it. Your extended family can help with the baby if you move, and you would be closer to work. But the rents in the area are so high!</p>
            </div>
            <div class="slide-outcome w-slide">
              <p class="p-scenario">You see a small house for rent near your family in your price range. The home has a yard where your kids can play, but you’re concerned about the condition of the house. There are signs of leaks and chipping paint.</p>
              <div class="div-animation-trigger" data-ix="ani-2up-hide-{{ include.id }}"></div>
            </div>
            <div class="slide-outcome w-slide" data-ix="next-scene-trigger-{{ include.id }}">
              <p class="p-scenario">You wonder if the easy commute and proximity to family make it worth moving to the new home anyway. <span class="span-question" data-ix="dramatic-pause">

                <a next="{{ include.next1 }}" class="a-inline move-button">What’s the right move?</a>

              </span></p>
            </div>
          </div>
          <div class="arrow-left w-slider-arrow-left">
            
            <a href="#" class="slider-next-btn left w-inline-block"></a>

            <div class="slider-icon w-icon-slider-left"></div>
          </div>
          <div class="arrow-right w-slider-arrow-right">
            
            <a href="#" class="slider-next-btn w-inline-block" data-ix="next-btn-load"></a>

            <div class="slider-icon w-icon-slider-right"></div>
          </div>

          <a next="{{ include.next1 }}" class="arrow-right-last t-{{ include.id }} w-inline-block move-button">


            <div class="slider-next-btn"></div>
          </a>

          <div class="slide-nav w-slider-nav"></div>
        </div>
      </div>
    </div>
    <div class="div-score-bottom">
      <div class="div-meter-block w-clearfix">
        <div class="div-meter-row">
          <div class="t-meter-label">Health</div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-health.svg" class="image-bullet-sprite"></div>
        </div>
        <div class="div-meter-row">
          <div class="t-meter-label">Education</div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-education.svg" class="image-bullet-sprite"></div>
        </div>
        <div class="div-meter-row">
          <div class="t-meter-label">Financial</div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
          <div class="div-meter-cell"><img src="images/score-sprite-financial.svg" class="image-bullet-sprite"></div>
        </div>
      </div>
    </div>

    <a next="{{ include.next1 }}" class="div-navigation hidden w-inline-block move-button" data-ix="next-hover-{{ include.id }}">

      <h3>What&#x27;s the<br>right move?</h3>
      <div class="div-nav-next-btn"><img src="images/controller-down.svg" class="img-next-btn-arrow t-{{ include.id }} "><img src="images/next-btn-area.svg" class="img-next-btn-area"></div>
    </a>


    <div class="div-characters"><img src="images/ill-s1-1-car.png" srcset="images/ill-s1-1-car-p-500.png 500w, images/ill-s1-1-car.png 752w" sizes="25vw" class="img-2up-left t-{{ include.id }} car" data-ix="illustration-hider"><img src="images/ill-s1-1-building.png" srcset="images/ill-s1-1-building-p-500.png 500w, images/ill-s1-1-building.png 869w" sizes="25vw" class="img-2up-right t-{{ include.id }} building" data-ix="illustration-hider"></div>
    <div class="div-scenario-background" data-ix="load-scene1"><img src="images/building-blue.svg" class="img-building-left"><img src="images/building-blue.svg" class="img-building-right-front"><img src="images/building-blue.svg" class="img-bulding-right-back"></div>
    <div class="div-global-background css-gradient">
      <div class="div-splitter"></div>
    </div>
  </div>
